<div id="container">
  <h2>Edit Your Profile</h2>
  <p>A Star Destroyer moves through space, releasing Imperial probe robots from its underside.<br>One of these probes zooms toward the planet Hoth and lands on its ice-covered surface.</p>
  <div id="form">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
    <%= devise_error_messages! %>

    <div id="form-text" class="form_spacer"><%= f.label :email, :class => "form-text" %></div><div id="form-field" class="form_spacer"><%= f.text_field :email, :class => "form form-field" %></div>

    <div id="form-text" class="form_spacer"><%= f.label :password, :class => "form-text" %><i><span class="caption">(leave blank if you don't want to change it)</span></i></div><div id="form-field" class="form_spacer"><%= f.password_field :password, :class => "form form-field" %></div>
    
    <div id="form-text" class="form_spacer"><%= f.label :password_confirmation, :class => "form-text" %></div><div id="form-field" class="form_spacer"><%= f.password_field :password_confirmation, :class => "form form-field" %></div>

    <div id="form-text" class="form_spacer"><%= f.label :current_password, :class => "form-text" %><i><span class="caption">(we need your this to confirm your changes)</span></i></div><div id="form-field" class="form_spacer"><%= f.password_field :current_password, :class => "form form-field" %></div>
  <div class="clear"></div>
    <div align="right" style="padding-top: 10px;"><%= f.submit "Update" %>
  <% end %></div>
  </div>
  <div>Don't like Andromeda? <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.</div>
  <%= link_to "Back", :back %>
</div>