<div id="home">
<h1 class="intro">Welcome to Andromeda</h1>
Mauris commodo enim at turpis mollis interdum. Donec facilisis magna sed lorem rutrum et euismod velit faucibus. Aliquam vitae nibh a erat aliquam commodo sed vestibulum odio. Vestibulum semper, turpis in dapibus vestibulum, risus ante tempus eros, a feugiat lectus ipsum quis lorem. Duis dictum orci sit amet eros malesuada a pretium purus rutrum. Cras consequat risus ultricies dui molestie rutrum. Maecenas quis nisl in velit gravida tincidunt sed et lectus. Pellentesque nunc libero, bibendum id ullamcorper a, vehicula eu nisi. Praesent posuere, elit vitae volutpat imperdiet, diam nibh pulvinar diam, sit amet ornare augue turpis a nunc. Curabitur ut nunc dui.<br><br>Mauris commodo enim at turpis mollis interdum. Donec facilisis magna sed lorem rutrum et euismod velit faucibus. Aliquam vitae nibh a erat aliquam commodo sed vestibulum odio. Vestibulum semper, turpis in dapibus vestibulum, risus ante tempus eros, a feugiat lectus ipsum quis lorem. Duis dictum orci sit amet eros malesuada a pretium purus rutrum. Cras consequat risus ultricies dui molestie rutrum. Maecenas quis nisl in velit gravida tincidunt sed et lectus. Pellentesque nunc libero, bibendum id ullamcorper a, vehicula eu nisi. Praesent posuere, elit vitae volutpat imperdiet, diam nibh pulvinar diam, sit amet ornare augue turpis a nunc. Curabitur ut nunc dui. 
</div>
<div id="sidebar">
  <div id="signup">
  <h2>Join the Galaxy!</h2>
  <%= form_for("user", :url => registration_path("user")) do |f| %>

    <p><%= f.label :email %><br />
    <%= f.text_field :email %></p>

    <p><%= f.label :password %><br />
    <%= f.password_field :password %></p>

    <p><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %></p>

    <p><%= f.submit "Sign up" %></p>
  <% end %>
  <br>
  Already registered? <%= link_to "Sign in", new_user_session_path %>
   
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>
  
  <br><br><br>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur risus nisl, vulputate eu pellentesque id, bibendum nec tellus. Etiam tincidunt scelerisque rutrum. Aenean diam nulla, sollicitudin ac sagittis in, dignissim nec lacus. Integer id metus ipsum.
  </div>
</div>
<div class="clear"></div>