<!DOCTYPE html>
<html>
<head>
  <title>Andromeda</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<header>
  <div id="topics">Development | Design</div>
  <div id="signin"><% if user_signed_in? %>

      <%= current_user.email %>
      |
      <%= link_to "Settings", edit_user_registration_path %>
      |
      <%= link_to "Sign out", destroy_user_session_path %>

    <% else %>

      <%= link_to "Sign in", new_user_session_path %>
      |
      <%= link_to "Sign up", new_user_registration_path %>

    <% end %>

    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>
  </div>
  
</header>
<div id="content">  
  <%= yield %>
</div>
<footer></footer>

</body>
</html>
